# Core dependencies
python-dotenv
pandas
numpy
pyarrow
requests
matplotlib
plotly
shap
joblib
scikit-learn

# Streamlit app
streamlit
altair

# Hopsworks & Feature Store
hopsworks[python]==4.2.*

# Utilities & JSON handling
tqdm



